@charset "UTF-8";
*{
    margin: 0px;
    
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: azure;
    
}
:root{
    --fonte-padrao: Arial, sans-serif;
}

header{
    background-color: black;
    height: 200px;
    position: relative;
    box-shadow:0px 0px 4px black;
    
}

header h1{
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-weight: bolder;
    text-shadow: 0px 0px 1px black;
}

nav a{
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-60%,+80%);
    text-decoration: none;
    color: white;
    margin-right: 7%;  

}

nav a::before{  
    content: 'Por ';
  
}

nav a:hover{  
    color: rgb(153, 245, 245); 
    text-decoration: underline;
    
}

nav a:active{
    color:red;
}

main{
    max-width: 800px;
    min-width: 300px;
    margin: auto;
    background-color: transparent;
   box-shadow:0px 0px 4px black;
}

section#sectiontexto{
    height: 300px;
    position: relative;
}

article#artigos{
    position: absolute;
    transform: translate(0%,5%);

}

p.paragrafos{   

        line-height: 40px;
        text-indent: 40px;
        color: black;
        padding-right: 10px;
    
}

#imagemfundo{
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    height: 100vh;
    background-attachment: fixed;
}

#textoimagem{
    position: absolute;
    transform: translate(0%,20%);


    background-color: rgba(0, 0, 0, 0.288);
}
.paragrafos1{   
        
    line-height: 40px;
    text-indent: 40px;
    color: white;
    padding-right: 10px;

}