@charset "UTF-8";

/* Typical device Breakpoints 
  ---------------------------
Pequenas telas:  max-width 600px
Celular: min-width 600px
Tablet: 768px até 992px
Desktop: min-width: 992px até 1200px
Grandes telas: min-width: 1200px 
*/