@charset "UTF-8";

* {
    margin:  0px;
    padding:  0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    background-color: lightgray;
}

header{
    background-color: gray;
}

header > h1 {
    padding: 10px;
    text-align: center;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.336);
}

span#burguer{
    background-color: rgb(31, 31, 31);
    display: block;
    color: white;
    text-align: center;
    padding: 7px;
    
}

span#burguer:hover{
    background-color: white;
    color: black;
}

menu{
    display: block;
}

menu > ul{
    list-style-type: none;
}

menu > ul > li >  a {
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: rgb(87, 87, 87);
    color: white;
    text-align: center;
    border-top: 2px solid rgb(177, 177, 177);
}

main{
    width: 90vw;
    background: white;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

article > h2{
    padding-bottom: 20px;
}

article > p {
    text-align: justify;
    margin-bottom: 15px;
    text-indent: 20px;
}
